<!DOCTYPE html>
<html>
<head>
	<title>Page d'accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}"/>

</head>
<body>
	<div class="header">
		<div class="logo">GPS<br>Gestionnaire de prevision de sante</div>
		<div class="nav">
			<a href="#">Accueil</a>
			<a href="{% url 'connexion' %}">Profil</a>
			<a href="{% url 'connexion' %}">connexion</a>
		</div>
	</div>

	<div class="container">
		<div class="aside">
			<div class="profile">
          {% load static %}
				<img src="{% static 'core/images/gerazayis.jpeg' %}" alt="profil par defaut" >" 
				{% block contents %}
                <h2>{{ personne.nom }} </h2>
                    {% endblock %}
				<p>veuillez vous connecter pour voir votre profils</p>
			</div>

		</div>
        {% block content %} 
        
        
        {% endblock %}
	</div>
</body>
</html>