{% extends "base_generic.html" %}
{% block content %}

<div class="main">
			<h1>Mes Activites</h1>

			<table>
				<thead>
					<tr>
						<th> Repas</th>
						<th>Probleme de Sante</th>
						<th>!revision</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><button>ajouter</td>
						<td><button>ajouter</td>
						<td><button>ajouter</td>
					</tr>
					<tr>
						<td><button>Suprimer</td>
						<td><button>Suprimer</td>
						<td><button>Suprimer</td>
					</tr>
					<tr>
						<td><button>Modifier</td>
						<td><button>Modifier</td>
						<td><button>Modifier</td>
					</tr>
					<tr>
						<td><button>Remettre a Zero</td>
						<td><button>Remettre a Zero</td>
						<td><button>Remettre a Zero</td>
					</tr>
				</tbody>
			</table>

		</div>
{% endblock %}